<div class="home_page_wrapper">
  <% @palettes.each do |palette| %>
    <% if palette.colours.size == 4 %>
      <%= render :partial => 'four-colours', :locals => {:palette => palette} %>
    <% end %>
  <% end %>
</div>
