<h1><%= @username %></h1>

<% @user_palette.palettes.each do |p| %>
  <%= p.title %>
  <% p.colours.each do |c| %>
    <p class="square" style="background-color: <%= c.hex_code %>"></p>
  <% end %>
  <br />
<% end %>

<!-- <%=# button_to("Logout", logout_path, method: :delete, class: "button is-warning") %> -->
