<br>
<div id="container">
  <br>
  <h1 class="title">About us:</h1>


<p class="text">PalettePal allows you to create, share and comment on all things palettes.
</p>

<h2>This site was create by:
<h2><a href="https://github.com/Moniet"</a>Moniet,
<a href="https://github.com/johnstona">Xander </a>and
<a href="https://github.com/tstiddy"</a>Toby</h2>
  <br>
</div>
<br>
