<br>
<div id="container">
  <br>
<h1 class="title">Cookies <i class="fas fa-cookie-bite"></i></h1>

<h2>We use cookies to help the site run efficiently.</h2>
<br>
<h1 class ="title"><i class="far fa-hand-spock"></i></h1>
<br>
</div>
<br>
