<br>
<div id="container">
  <br>
  <h1 class="title"><i class="fas fa-balance-scale-right"></i> Terms and Conditions <i class="fas fa-balance-scale-left"></i></h1>

  <p class="text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis molestie dui, a interdum libero aliquet in. Sed porta vitae nibh sed luctus. Integer laoreet pulvinar ipsum, a pretium purus volutpat interdum. Pellentesque a venenatis diam. Nulla facilisi. Proin ornare sem ipsum, imperdiet consequat turpis fermentum ut. Morbi dictum leo eu facilisis faucibus. Curabitur tellus ante, consequat et magna vel, dictum placerat mi. Aliquam erat volutpat. </p><br>

<p class="text">In hac habitasse platea dictumst. Proin placerat, nisi ac egestas tempor, lacus ligula egestas enim, rhoncus lobortis nulla justo vitae nisi. Maecenas sagittis porttitor varius. Nam eget massa vitae diam bibendum gravida id eget augue. Suspendisse viverra turpis ut efficitur pellentesque. Vestibulum vestibulum consectetur lectus a aliquet. Sed blandit lacus lacus, non aliquam nisi laoreet vitae. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque pretium justo tellus. Pellentesque fermentum semper erat, eget blandit lectus malesuada a. In ultrices maximus gravida. Ut quis scelerisque erat. Suspendisse consequat id arcu ac tristique. Aliquam erat volutpat. Mauris nec vulputate massa, id bibendum orci. Aliquam tempor nibh laoreet, accumsan nisi at, mollis neque.</p><br>

<p class="text">Vestibulum aliquam cursus lacinia. Proin nunc quam, viverra non enim nec, aliquet posuere ex. Mauris commodo sapien eget dui dignissim, rutrum accumsan neque tristique. Pellentesque malesuada varius pharetra. Vivamus et tristique ligula. Ut sit amet orci metus. Aliquam malesuada mi eu leo ultricies, sed pellentesque lectus tincidunt. Curabitur a euismod libero, non vestibulum mauris. Fusce in sem nec mi malesuada egestas vel et mi. Ut eget volutpat elit. Ut posuere nunc vel magna maximus tincidunt. Fusce sed laoreet neque, sit amet mattis enim.</p><br>

<p class="text">Aenean lobortis pellentesque justo sed cursus. Etiam aliquet consectetur purus, nec varius est mollis vel. In blandit orci leo, sed ullamcorper erat placerat sit amet. Donec non ante augue. Duis efficitur nulla eget est porta finibus. Donec nec arcu feugiat, dictum nulla quis, porta urna. Curabitur dolor dolor, tincidunt in feugiat placerat, consequat sit amet turpis. Aliquam pulvinar, odio sit amet ultrices venenatis, metus eros condimentum purus, at porttitor arcu nulla vel lorem. Aliquam dictum ornare neque, a ultrices nunc sodales at. Fusce interdum consectetur aliquam. Ut finibus nunc eros, a mattis erat varius sed. Vivamus nec ullamcorper eros, sed placerat orci.</p><br>

<p class="text">Nullam aliquam nisi ut turpis interdum fermentum. Ut convallis, ipsum a lacinia tempus, velit lorem fringilla dui, congue malesuada erat libero a augue. Vivamus mattis id nulla non tincidunt. Cras consequat et sapien at euismod. Praesent semper ex in tempor posuere. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec nec fringilla lacus, ac luctus sapien. Nam varius dui at ultricies blandit.
</p>

  <br>
  </div>
  <br>
