$heart_red: #FF6565;
$comment_blue: #6565FF ;
$mute: #999999;
$text_black: #272727;
$mute_black: #404040;
$box_shadow: -2px 2px 2px rgba(0, 0, 0, 0.25);

::selection {
  background: $text_black;
  color: white;
}

.home_page_wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 280px));
  grid-auto-rows: 40px;
  grid-gap: 3em;
  justify-content: center;
  width: 90vw;
  height: 100%;
  margin: 5rem auto;
}

/*  --- different sized palettes --- */

  /* - general palette card wrappers - */
.palette {
  display: grid;
  grid-column: 1 / 10;
  grid-row: 1 / 9;
  box-shadow: $box_shadow;
  border-radius: 6px;
}

.palette_card {
  font-family: 'Noah', Futura, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 5px;
  color: black;
}

/* palette of the day */

.potd_card {
  grid-row: span 5;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
  padding: 1em;
  display: grid;
  grid-gap: 1em;
  border-radius: 5px;
  background: #fff;

  h4 {
    letter-spacing: 1px;
    color: #272727;
    margin-bottom: -2em;
    text-shadow: -1px 0px 1px rgba(0,0,0,0.25);
  }
}

.palette_of_the_day_card {
  display: grid;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.25);

  .colour_hex {
    font-size: 10px;
  }
}

/*  - END- */


.palette_card_four_five {
  grid-row: span 3;
}

.palette_card_six_seven {
  grid-row: span 4;
}

.palette_card_eight_nine {
  grid-row: span 5;
}

.palette_card_ten {
  grid-row: span 5;
}

/* palette sizes */

.palette_four {
  grid-template-rows: repeat(4, 1fr);
}

.palette_five {
  grid-template-rows: repeat(5, 1fr);
}

.palette_six {
  grid-template-rows: repeat(6, 1fr);
}

.palette_seven {
  grid-template-rows: repeat(7, 1fr);
}

.palette_eight {
  grid-template-rows: repeat(8, 1fr);
}

.palette_nine {
  grid-template-rows: repeat(9, 1fr);
}

.palette_ten {
  grid-template-rows: repeat(10, 1fr);
}

/* --- END ---- */


.colour {
  display: grid;
  overflow: hidden;
}

.colour:first-child {
  border-radius: 5px 5px 0px 0px;
}

.colour:last-child {
  border-radius: 0px 0px 5px 5px;
}

.palette_link {
  width: 100%;
  height: 100%;
  display: flex;

  &:hover > .colour_hex {
    transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    opacity: 1;
  }
}

.colour_hex {
  align-self: flex-end;
  justify-self: flex-start;
  background: rgba(0,0,0,0.2);
  padding: 2px;
  border-radius: 0px 5px 0px 0px;
  color: white;
  opacity: 0;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 1px;
}

.palette_card .colour:first-child {
  border-top: 0px;
}

.comment_container, .like_container {
  padding: 5px;
  text-align: center;
  margin-left: 5px;
}

.comment_container i, .like_container i {
  padding-bottom: 5px;
  margin-bottom: 2px;
}

.comment_container {
  margin-top: 5px;
}

.card_info {
  display: flex;
  flex-flow: column nowrap;
  grid-column: 1 / 10;
  grid-row: 9 / 11;
  grid-template-columns: repeat(4, 1fr);

}

.card_date_container {
  grid-column: 1fr;
  display: flex;
  flex-flow: row wrap;
  padding: 2.5px 0;
  align-items: center;
}

.date {
  font-family: 'PT Mono', monospace;
  font-size: 10px;
  padding: 0;
  color: $mute;
  font-size: 0.6em;
}

.palette_title {
  grid-column: span 3;
  text-transform: lowercase;
  padding: 2.5px 0px;
}

.palette_title h5 {
  font-weight: bold;
  line-height: 1em;
  font-size: 1em;
  word-break: break-all;
}

.far.fa-heart {
  color: $heart_red;
}

.fas.fa-heart {
  color: $heart_red;
}

.far.fa-comment {
  color: $comment_blue;
}

.like_container {
  border-bottom: solid 2px $mute_black;
}

.likes_number, .comments_number {
  font-family: 'Noah', sans-serif;
  color: $mute;
  font-size: 16px;
}

// .sidebar {
//   opacity: 0;
// }
//
// .palette_card:hover > .sidebar {
//   opacity: 1;
//   transition-duration: 0.5s;
//   -moz-transition-duration: 0.5s;
// }

// MEDIA QUERIES

@media(max-width:1200px) {
  .home_page_wrapper {
    grid-template-columns: repeat(4, minmax(200px, 300px));
    grid-gap: 3em;
    grid-auto-rows: 30px;
  }
}

@media(max-width:992px) {
  .home_page_wrapper {
    grid-template-columns: repeat(3, minmax(220px, 300px));
    grid-gap:2.5em;
    grid-auto-rows: 50px;
  }
}

@media(max-width:768px) {
  .home_page_wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap:2em;
    grid-auto-rows: 60px;
  }
}

@media(max-width: 600px) {
  .home_page_wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 60px;
    grid-gap: 2em;
    width: 95vw;
  }

  .palette_card {
    grid-gap: 5px;
    margin-bottom: 2.25em;
  }

  .comment_container, .like_container {
    padding: 2px;
    text-align: center;
  }

  .palette_title {
    grid-column: span 3;
  }

  .potd_card {
    h4 {
      margin-bottom: 0;
    }
  }
}
