/* PALETTE CREATE PAGE */
.create_page_container {
  width: 100vw;
  height: 100vh;

  form {
    position: relative;
    width: 30%;
    margin: 5em auto;
  }
}

.wrapper {
  background: #f1f1f1;
}

input[type="submit"] {
  text-align: center;
}

.colour_input {
  padding: 0;
  border-color: transparent;
}

.colour_field_container {
  width: 50%;
}

/* END */

/* PALETTE SHOW PAGE */

.more_square {
  margin: auto;
  padding-left: 75px;
}

.show {
  // display: none;
  opacity: 0;
}

p:hover .show{
  // display: block;
  opacity: 100;
  z-index: 1;
  color: white;
}

.square {
  height:75px;
  width:600px;
}

.center {
}

/* END */
