.header {
  height: 50px;
 }

 .second_container {
   font-size: 30px;
   font-weight: bold;
   padding-left: 15px;
 }

 .icon1 {
   position: absolute;
   top: 0px;
   right: 20px;
   font-size: 20px;
 }

 i {
   padding-right: 15px;
 }

 .boxed {
   border: 5px solid;
   margin: 70px;
   border-radius: 25px;
 }

 .last_container {
   float: bottom;
   height: 60px;
 }

 .text {
   text-align: center;
 }

 .goBack {
   text-align: center;
   text-decoration: underline;
 }
