#container {
  text-align: center;
  margin: auto;
  width: 50%;
  border-radius: 25px;
  border: 3px solid #00e6b8;
}

#container, h1 {

  font-size: 100%;
}

.first_container {
  height: 100px;
}

.second_container {
  font-size: 30px;
  font-weight: bold;
  padding-left: 15px;
}

.icon1 {
  float: left;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 25px;
}

.boxed {
  border: 5px solid;
  margin: 100px;
}

.last_container {
  float: bottom;
  height: 60px;
}

.goBack {
  text-align: center;
}
